<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="app.py"></script>
<!------ Include the above in your HEAD tag ---------->

<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Balige</legend>

<!-- Select Basic -->
<div class="control-group">
  <label class="control-label" for="selectbasic">Tempat Asal</label>
  <div class="controls">
    <select id="selectbasic" name="selectbasic" class="input-xlarge">
      <option>RS HKBP Balige</option>
      <option>Pelabuhan Penyebrangan Balige</option>
      <option>Gereja Katolik Balige</option>
      <option>Telkom Balige</option>

    </select>
  </div>
</div>

<!-- Select Basic -->
<div class="control-group">
    <label class="control-label" for="selectbasic">Tempat tujuan</label>
    <div class="controls">
      <select id="selectbasic" name="selectbasic" class="input-xlarge">
        <option>RS HKBP Balige</option>
        <option>Pelabuhan Penyebrangan Balige</option>
        <option>Gereja Katolik Balige</option>
        <option>Telkom Balige</option>
  
      </select>
</fieldset>
</form>
<!------ Include the above in your HEAD tag ---------->

<body class="bg-for-submit-name">

    <div class="container">
        <div class="row margin-top">
            <div class="col-md-12">
                <div class="wrap">
                        <button type="submit" class="btn btn-success" id="submit_on">Go To Destination</button>
                        <script src="app.py"></script>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>    